@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/425-logo.png" alt="425 logo" height="150px" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- TODO check for environment and chante parent domain name -->

            <iframe
                src="https://player.twitch.tv/?channel=425show&parent=localhost&muted=true"
                height="720"
                width="1280"
                muted="true"
                allowfullscreen="true">
            </iframe>
        </div>
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
